* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--sec);
    font-family: 'myFont3' !important;
}


header {
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    height: 44px;
    background-color: var(--four);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    /* For Safari/Chrome */

}

.r {
    background-color: red !important;
}

.g {
    background-color: green !important;
}

.b {
    background-color: blue !important;
}

:root {
    --prim: #000;
    --sec: #fff;
    --four: rgba(22, 22, 23, .8);
    --three: rgba(255, 255, 255, .8);
--primary:rgb(111, 132, 247);
--secondary:rgb(240, 235, 250);
;

}

header a {
    text-decoration: none;
    color: var(--three) !important;
    font-weight: 100;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -.01em;
    font-family: 'myFont3' !important;
}

header a:hover {
    color: var(--sec);
    transition: color 0.2s ease;
}

.section-1 {
    transition: all 0.3s ease-in;
    /* animation: backgroundChange 5s ease; */

    background-position: center;
    padding-top: 170px ;
  
    padding-bottom: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 247) !important;
    background-image: url(assets/Images/banner-1.jpg);
}

/* @keyframes backgroundChange {
    25% {
        background-image: url(assets/Images/sec-1-1.jpg);
    }

    60% {
        background-image: url(assets/Images/sec-1-2.jpg);
    }

    100% {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(assets/Images/sec-1-3.jpg);
    }
} */

.section-1 h2 , .section-2 h2 , .section-8 h2 {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -.002em;
    font-family: 'myFont5' !important;
}

@font-face {
    font-family: 'myFont';
    src: url('Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'myFont2';
    src: url('SF-Pro-Text-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'myFont3';
    src: url('SF-Pro-Text-Light.otf') format('truetype');
}

@font-face {
    font-family: 'myFont4';
    src: url('SF-Pro-Text-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'myFont5';
    src: url('SF-Pro-Text-Semibold.otf') format('truetype');
}

@font-face {
    font-family: 'myFont6';
    src: url('SF-Pro-Text-Regular.otf') format('truetype');
}

.section-1 p {
    font-family: 'myFont6' !important;
    /* line-height: 1; */
    font-size: 20px;
    margin-top: 20px;
    color: #fff !important;
}
.section-1 .btn-group button{
    font-size: 18px;
    background-color: var(--primary);
    border-radius: 100px;
    height: 50px;
    padding: 0px 20px;
    color: #000;
    font-family: "myFont5";
    border: none;
    outline: none;
}
.section-1 .btn-group button:nth-child(2){
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}
.section-1 .btn-group{
    display: flex;
    gap: 10px;
    margin-top: 25px;
}
.section-1 a,
.section-2 a {
    color: #06c;
    text-decoration: none;
    font-family: 'myFont6';
    font-size: 22px;

}

.section-1 span,
.section-2 span,
.section-3 span {
    color: #06c;
    text-decoration: none;
    font-family: 'myFont4';
    font-size: 22px;
    margin-left: -26px;
    margin-top: 2px;
}

.section-2 {
    margin-top: 10px;
    /* height: 90vh; */
    padding-top: 120px;
    padding-bottom: 120px;
background-color: var(--primary);
}

.section-2 h1 {
    font-family: 'myFont4';
    color: var(--sec);
    font-size: 58px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.section-2 p {
    font-family: 'myFont6' !important;
    /* line-height: 1; */
    color: var(--sec) !important;
    /* font-size: 26px; */
    /* letter-spacing: -1px; */
    /* text-align: center; */
}

.section-3 {
    margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--secondary);
display: flex;
justify-content: space-between;
}
.section-3 .part-1{
    width: 34%;
}
.section-3 .part-2 {
    /* margin-left: 60px; */
    padding-top: 20px;
}
.section-3 .part-1 img{
   height: 780px;
   width: 100%;
   border-radius: 20px;
   object-fit: cover;
}
.section-3 h2  , .section-4 h2 , .section-5 h2 , .section-6 h2  , .section-7 h2{
    color: #000;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -.002em;
    font-family: 'myFont5' !important;  
}

.section-3 p {
    font-family: 'myFont6' !important;
 


}

.section-3 a {
    color: #06c;
    text-decoration: none;
    font-family: 'myFont6';
    font-size: 22px;

}

.section-4  , .section-6  , .section-7{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary);
}


.section-5{
    margin-top: 10px;
    /* height: 90vh; */
    padding-top: 40px;
    padding-bottom: 40px;
background-color: var(--secondary);
}




/* .section-7 {
    background-color: rgb(245, 245, 247) !important;
    top: -80px;
    padding: 17px 0 11px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.section-7 li {

    list-style-type: none;
    color: var(--sec);
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
} */

header div:nth-child(3) i {
    display: none;
}

.res-nav {
    display: none;
}

/* footer section starts */

footer {

    padding: 0 22px;
    background-color: rgb(245, 245, 247);
    height: 100vh;
    /* margin-top: -115px; */
}

footer ul {
    padding-top: 60px;
    padding-left: 100px;
}

footer li {
    color: rgba(0, 0, 0, 0.72);
    list-style: none;
    font-size: 12px;
    margin-top: 5px;
}

footer li:nth-child(1) {
    color: var(--prim);
    list-style: none;
    font-size: 12px;
    font-family: 'myFont5';
    padding-bottom: 3px;
}

.columns div:nth-child(2) ul {
    padding-top: 0px;
    padding-left: 100px;
}

.column-4 div:nth-child(3) ul,
.column-4 div:nth-child(4) ul {
    padding-top: 0px;
    padding-left: 100px;
}

footer li:not(:nth-child(1)):hover {
    text-decoration: underline;
    transition: color 0.3s ease;
    cursor: pointer;
}

.footer-main-contents {
    display: flex;
    flex-wrap: nowrap;
}

.resp-footer {
    display: none;
}

.p-two {
    padding-left: 100px;


    font-size: 12px;
    width: 100%;
    color: rgba(0, 0, 0, 0.72);

}

.p-one {
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    width: 100%;
    color: rgba(0, 0, 0, 0.72);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

footer span {
    color: #06c !important;
    text-decoration: underline !important;
}

/* sub menu  */

.sub-menu {
    display: none;
    opacity: 0;
    height: 0px;
    transition: all 0.5s ease;
    background-color: var(--prim);
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: rgba(22, 22, 23, .98);
    backdrop-filter: saturate(180%) blur(20px);
}

.sub-menu-2 {
    display: none;
    opacity: 0;
    height: 0px;
    transition: all 0.5s ease;
    background-color: var(--prim);
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: rgba(22, 22, 23, .98);
    backdrop-filter: saturate(180%) blur(20px);
    overflow: auto;
}

.sub-menu li:not(:first-child) {
    list-style-type: none;
    color: #E8E8ED;
    font-size: 24px;
    font-family: 'myFont2';
    padding: 4px 11px;
}

.sub-menu li:first-child {
    color: rgb(134, 134, 139);
    font-size: 12px;
    list-style: none;
    font-family: 'myFont4';
    padding: 0px 11px;
}

.sub-menu ul {
    margin-top: 30px;

}

.sub-menu div:nth-child(2) ul li,
.sub-menu div:nth-child(3) ul li {
    font-size: 12px;
    font-family: 'myFont5';
}

.sub-menu ul {
    transition: all 0.8s ease;
}

main {
    transition: all 0.5s ease;
}

header div:nth-child(3) {
    padding-left: 20px;
}

.sub-menu-2 div:nth-child(2) i {
    font-size: 24px;
    color: rgb(134, 134, 139) !important;
    position: relative;
z-index: 2;
cursor: pointer;
    top: 2px;
}

.sub-menu-2 div:nth-child(2) input {
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    z-index: 1;
    margin-inline-start: -30px;
    margin-inline-end: -31px;
    padding-inline-start: 34px;
    padding-inline-end: 34px;
    width: 70%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #E8E8ED;
    line-height: 1;
}

/* }.sub-menu-2 div:nth-child(2) input:focus-visible {
    outline: none;
} */
.sub-menu-2 div:nth-child(2) p {
    font-family: 'myFont3';
    color: rgb(134, 134, 139);
    font-size: 12px;
    margin-top: 30px;
}

.recent-search {
    padding-left: 0px !important;
    margin-top: -7px !important;
    margin-left: -10px;
}

.sub-menu-2 div:nth-child(2) li i {
    font-size: 12px;
}

.recent-search li {
    color: #E8E8ED !important;
    font-size: 12px !important;
    font-family: 'myFont2' !important;
    padding: 8px 0px !important;
    list-style-type: none;
}

.sub-menu-2::-webkit-scrollbar {
    width: 10px;
 
}

.sub-menu-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.sub-menu-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(134, 134, 139);
}

#sub-menu-3{
    display: none;
    opacity: 0;
    height: 0px;
    transition: all 0.5s ease;
    background-color: var(--prim);
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: rgba(22, 22, 23, .98);
    backdrop-filter: saturate(180%) blur(20px);
    overflow: auto;
}
.sub-menu-3 h2{
    color: var(--sec);
    font-family: 'myFont5';
    font-size: 24px;
}
.sub-menu-3 p{
    color:rgb(134, 134, 139);
    font-family: 'myFont3';
    font-size: 12px;
    margin-top: 25px;
    
}
.sub-menu-3 a{
    text-decoration: underline;
    color: rgb(41, 151, 255) !important;
}
.sub-menu-3 span{
    color:rgb(134, 134, 139);
    font-family: 'myFont3';
    font-size: 12px;
    
}

.sub-menu-3 li{
    color: #fff;
    list-style: none;
    font-family: 'myFont5';
    font-size: 13px;
    margin-top: 8px;
    margin-left: -30px;
    display: flex;
}
.sub-menu-3 i{
    display: flex !important;
    color: white;
    font-size: 12px;
    position: relative;
    top: 3px;
    left: -10px;
}
.nav-links{
display: flex;
} 
/* responsive work start */

@media screen and (max-width:600px) {
    .section-7 h2{
        font-size: 32px !important;
    }
    .section-8 .middle-box{
        overflow: auto;
    }
    .section-2 .Contracts-for-students div {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .section-2 .Contracts-for-students {
        flex-wrap: wrap;
        margin-top: 30px !important;
    }
    .section-3 div{
        flex-wrap: wrap;
    }
    .section-5 .parent-box .boxes p {
        font-size: 14px !important;
    }
    .section-5 .parent-box .boxes{
        width: 100% !important;
    }
    .timeline-item{
        padding-left: 60px !important;
    }
    .section-3 h2, .section-4 h2, .section-5 h2, .section-6 h2{
        font-size: 32px !important;
    }
    .section-3 .part-1 img , .section-7 .part-2 img , .section-6 .part-2 img , .section-4 .part-2 img {
        height: 400px !important;
    }
    .section-1 .btn-group{
        flex-wrap: wrap;
    }
    .section-3 .part-1 , .section-3 .part-2 , .section-6 .part-1 , .section-6 .part-2 , .section-7 .part-1 , .section-7 .part-2 , .section-4 .part-1 , .section-4 .part-2{
        width: 100% !important;
    }
    .section-6 div , .section-7 .container{
        flex-wrap: wrap-reverse;
    }
    .section-7 .part-1 , .section-7 .item-box {
        flex-wrap: wrap;
    }
    .section-7 .item-box p {
        font-size: 14px !important;
    }
    .section-1 p{
        font-size: 16px !important;
    }
    .section-1 .btn-group button {
        font-size: 15px !important;
    }
    .section-4 div:nth-child(1) p, .section-5 div:nth-child(1) p, .section-5 div:nth-child(2) p, .section-6 div:nth-child(1) p, .section-6 div:nth-child(2) p {
        font-size: 14px !important;
    }
    .section-1
    {
        padding-top: 130px !important;
        padding-bottom: 130px !important;
    }
    .section-1 .btn-group button{
        width: 100%;
    }
    .section-2 {
        padding-top: 20px !important;
    }
    body {
        overflow-x: hidden !important;
    }

   .nav-links  {
        display: none !important;

    }

    header div:nth-child(1) {
        justify-content: start !important;

    }

    header div:nth-child(1) img {
      margin-left: 15px;
      height: 20px;
      width: 20px;
    }
    .section-2 .Contracts-for-students h3 {
        font-size: 20px !important;
    }
    .section-2 .Contracts-for-students p{
        margin-top: 10px !important;
        font-size: 14px !important;
    }
    header div:nth-child(3) {
    justify-content: end !important;
    }

    header div:nth-child(3) img:nth-child(2) {

        height: 20px;
    }

    header div:nth-child(3) img:nth-child(1) {
        margin-top: 2px;

        height: 20px;
    }

    header {
        height: 50px;
    }

    .res-nav {
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        position: absolute;
        top: 0%;
        left: 100%;
        width: 100%;
    }

    .res-nav a {
        font-size: 25px !important;
        padding: 5px 25px;
        font-family: 'myFont6' !important;
        color: var(--four) !important;
        margin-top: 12px;
    }

    .res-nav i {
        display: block;
        position: absolute;
        left: 87%;
        top: 2%;
        font-size: 40px;
    }

    header div:nth-child(3) i {
        display: block;
        color: white;
        font-size: 25px;

    }



    .section-1 h2,
    .section-2 h1,
    .section-3 h1,
    .section-2 h2 {
        font-size: 32px;
    }

    .section-1 p,
    .section-2 p,
    .section-2 p {
        font-size: 19px;
    }

    .section-1 a,
    .section-2 a,
    .section-3 a {
        font-size: 17px;
    }

    .section-1 span,
    .section-2 span,
    .section-3 span {
        font-size: 17px;
    }

    .container-fluid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
    }

    .section-4 div:nth-child(1),
    .section-5 div:nth-child(1),
    .section-6 div:nth-child(1) {
        border-right: none !important;
    }

    .section-5 div:nth-child(1) {
        background-size: 280%;
        background-repeat: no-repeat;
    }

    .section-4 div:nth-child(1) h1,
    .section-5 div:nth-child(1) h1,
    .section-5 div:nth-child(2) h1,
    .section-6 div:nth-child(1) h1,
    .section-6 div:nth-child(2) h1 {
        font-size: 32px;
    }

    .section-4 div:nth-child(1) p,
    .section-5 div:nth-child(1) p,
    .section-5 div:nth-child(2) p,
    .section-6 div:nth-child(1) p,
    .section-6 div:nth-child(2) p {
        font-size: 19px;
    }

    .section-4 div:nth-child(1) a,
    .section-5 div:nth-child(1) a,
    .section-5 div:nth-child(2) a,
    .section-6 div:nth-child(1) a,
    .section-6 div:nth-child(2) a {
        font-size: 17px;

    }

    .section-4 div:nth-child(1) span,
    .section-5 div:nth-child(1) span,
    .section-5 div:nth-child(2) span,
    .section-6 div:nth-child(1) span,
    .section-6 div:nth-child(2) span {
        font-size: 17px;

    }

    .section-7 ul {
        padding-left: 10px;
    }

    .swiper {
        display: none !important;
    }

    .footer-main-contents {
        display: none;
    }

    .section-5 div:nth-child(1) h1 {
        background-color: #fafafa !important;
    }

    .resp-footer {
        display: block;
        padding-top: 40px;

    }

    .accordion-button {
        color: rgba(0, 0, 0, 0.88) !important;
        font-size: 12px !important;
        font-family: 'myFont6' !important;
        background-color: rgb(245, 245, 247) !important;
    }

    /* .accordion-header{
    margin-left: -25px !important;
} */
    .accordion-item {
        margin-left: -25px;
        border-bottom: 2px solid rgba(0, 0, 0, .125) !important;
    }

    .accordion-body {
        background-color: rgb(245, 245, 247) !important;
        display: flex;
        flex-direction: column;

    }

    footer a {
        color: rgba(0, 0, 0, 0.72) !important;
        font-size: 12px !important;
        margin-top: 5px !important;
    }

    .p-one {
        padding-left: 0px;
    }

    .p-two {
        padding-left: 0px;
    }
.icons-div img:nth-child(2){
    position: relative;
    left: 12px;
}
.sub-menu-2 div:nth-child(2){
    padding-top: 45px !important;
}
.sub-menu-2 div:nth-child(2) input{
    width: 100%;
}
.recent-search li{
    font-size: 15px !important;
}
.sub-menu-2 div:nth-child(2) p {
    font-size: 14px;
}
    .sub-menu-3 div:nth-child(2){
        margin-left: 37px;
    }
    header div:nth-child(3) i{
        font-size: 30px;
        margin-right: 10px;
    }
.section-4 .container{
    flex-wrap: wrap-reverse;
}
}
.section-2 .Contracts-for-students{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.section-2 .Contracts-for-students div{
    width: 31%;
}
.section-2 .Contracts-for-students h3{
    font-family: "myFont4";
    font-size: 24px;
    color: #fff;
}
.section-3 .part-2{
    width: 60%;
}
.section-2 .Contracts-for-students p{
    /* font-family: "myFont4"; */
    font-size: 16px;
    margin-top: 30px;
    /* list-style: none; */
}
.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }


  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: #d8d8d8;
    z-index: 1;
  }

  .timeline-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 80px;
  }
  .timeline-item h4{
    font-size: 22px;
    font-family: "myFont4";

  }
  .timeline-item p{
    text-align: start;
    font-size: 16px;
  }

  .timeline-item .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
    font-weight: bold;
    color: #000;
    z-index: 1;
  }
  .section-4 .part-2 ,.section-6 .part-2 , .section-7 .part-2{
    width: 34%;
  }
  .section-4 .part-2 img ,.section-6 .part-2 img , .section-7 .part-2 img{ 
    height: 780px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
 }
 .section-4 .part-1 , .section-6 .part-1 , .section-7 .part-1{
    width: 60%;
padding-top: 20px;
padding-left: 20px;
 }
 .section-4 .accordion-item {
    margin-bottom: 20px;
    background-color: var(--secondary);
    border: none;
  }

  .section-4 .accordion-title {
    font-size: 22px;
    font-family: "myFont4";
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
  }

  .section-4 .accordion-title::before {
    content: "▼";
    font-size: 1rem;
    color: #212529;
  }

  .section-4  .accordion-content {
    margin-top: 20px;
    /* padding-left: 20px; */
    font-size: 16px;
    color: #212529;
    line-height: 1.6;
    border-left: 2px solid  #d8d8d8;
    padding: 10px 20px;
    font-family: 'myFont6' !important;
  }
  .section-5 .parent-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  .section-5 .parent-box .boxes{
    width: 49.5%;
    margin-bottom: 15px;
    border: 2px solid var(--primary);
    padding: 20px;
    border-radius: 18px;
  }
  .section-5 .parent-box .boxes h4{
    font-size: 22px;
    font-family: "myFont4";
 
 
    color: #000;
  }
  .section-5 .parent-box .boxes:nth-child(2){
    border: 2px solid rgb(37, 156, 230);
  }
  .section-5 .parent-box .boxes:nth-child(3){
    border: 2px solid rgb(222, 93, 205);
  }
  .section-5 .parent-box .boxes:nth-child(4){
    border: 2px solid rgb(91, 114, 245);
  }
  .section-5 .parent-box .boxes p{
text-align: start;
font-size: 18px;
font-family: 'myFont6' !important;
color: #212529;
margin-top: 20px;
  }
  .section-6 .box-item{
    margin-top: 45px;
  }
  .section-6 .box-item img{
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
  }
  .section-6 .box-item h4{
    font-size: 24px;
    color: #000;
    font-family: "myFont4";

  }
  .section-6 .box-item p{
    font-size: 16px;
font-family: 'myFont6' !important;
color: #212529;


  }
  .section-7 .item-box {
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  .section-7 .item-box img{
    height: 100%;
    width: 80px;
  }
  .section-7 .item-box  h4{
    font-size: 24px;
    color: #000;
    font-family: "myFont4";
  }
  .section-7 .item-box p{
    font-size: 16px;
font-family: 'myFont6' !important;
color: #212529;
margin-top: 14px;


  }
  .section-8{


    background-position: center;
    padding-top: 100px ;
  
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(245, 245, 247) !important;
    background-image: url(assets/Images/banner-1.jpg);
}
.section-8 .middle-box{
    border-radius: 18px;
    border: 1px solid #fff;
    margin-top: 50px;
    padding: 20px;
}
.section-8 .middle-box table td ,.section-8 .middle-box table th{
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #212529;
}
.section-8 .middle-box table tbody tr:nth-child(odd){
    background-color: #00000038;
}
.section-1 .btn-group button:nth-child(1):hover{
    background-color: #fff;
    color: var(--primary);
    /* border: 2px solid var(--primary); */
    transition: all .2s ease-in-out;
}